// SCSS Variable's

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color-primary:#77DD77;
// $color-primary:#FFD043;

$color-bg:#1f1f2b;

$color-gray:#B7B7B7;
$color-yellow:#FFC809;
$color-black:#000000;
$color-white--soft:#FCFCFC;
$color-white:#ffffff;